<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Portifólio</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <nav class="navbar navbar-light bg-light"><button type="button" class="btn btn-outline-primary"><a class="nav-link" href="/">Home</a></li>
      </button>
      <li class="nav-item">
        <nav class="navbar navbar-light bg-light"><button type="button" class="btn btn-outline-primary">
          <a class="nav-link" href="/sobre">Biografia</a>
        </li>
      </button>
      <li class="nav-item">
        <nav class="navbar navbar-light bg-light"><button type="button" class="btn btn-outline-primary">
          <a class="nav-link" href="/projetos">Projetos</a></button>
        </button>
      </li>
    </ul>
  </nav>
  <p>Página Atual: <%= typeof pagina != 'undefined' ? pagina: 'Home' %></p>
</header>
