<!DOCTYPE html>
   <%- include('../partials/head'); %>
      

   <body class="container">
        <%- include('../partials/header', {pagina: 'sobre'}); %>
        <main>
          <div class="jumbotron"> 
              <h1>Sobre mim</h1>
              <p><i class="bi bi-activity">Olá, me chamo Matheus Grossi, tenho 28 anos e comecei no mundo da programação em 2021. Entusiasta e esforçado estou no game para evoluir e aprender novas tecnologias.</p>
          </div></i>
        </main>

        <%- include('../partials/footer'); %>
   </body>





</html>
