<!DOCTYPE html>
   <%- include('../partials/head'); %>
        
              

   <body class="container">
        <%- include('../partials/header', {pagina: 'projetos'}); %>
        <main>
          <div class="jumbotron"> 
              <h1>Meus projetos</h1>
              <p>Segue lista de projetos feitos por mim, abaixo: </p>
              <ul>
                <li><a href="https://codepen.io/matteothebrave/pen/abEvmYO" target="_blank"> Projeto de Super Trunfo feito em Javascript</a></li>
                <li><a href="https://codepen.io/matteothebrave/pen/eYeagKR" target="_blank">Projeto de Conversor de moedas feito em JavaScript</a></li>
                <li><a href="https://codepen.io/matteothebrave/pen/ZEadyJW" target="_blank">Jogo: Mentalista</a></li>
              </ul>
          </div>
        </main>

        <%- include('../partials/footer'); %>
   </body>





</html>